
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
     <meta charset="utf-8" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
     <meta content="width=device-width, initial-scale=1" name="viewport" />

	<!--         <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" /> -->

     <!-- BEGIN GLOBAL MANDATORY STYLES -->
     <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet" type="text/css" />

     <link href="/js/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
     <link href="/js/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
     <link href="/js/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
     <link href="/js/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
     <link href="/js/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css" />
     <link href="/css/inbox.css" rel="stylesheet" type="text/css" />
     
     <!-- END GLOBAL MANDATORY STYLES -->

	<!-- BEGIN PAGE LEVEL PLUGINS -->
     <link href="/js/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
     <link href="/js/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
     <link href="/js/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
     <link href="/js/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />
     <link href="/js/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
     <!-- END PAGE LEVEL PLUGINS -->

	<!-- BEGIN THEME GLOBAL STYLES -->
     <link href="/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
     <link href="/css/plugins.min.css" rel="stylesheet" type="text/css" />
     <!-- END THEME GLOBAL STYLES -->

	<!-- BEGIN THEME LAYOUT STYLES -->
     <link href="/css/layout.min.css" rel="stylesheet" type="text/css" />
     <link href="/css/themes/grey.min.css" rel="stylesheet" type="text/css" id="style_color" />
     <link href="/css/custom.min.css" rel="stylesheet" type="text/css" />
     <!-- END THEME LAYOUT STYLES -->

	<!-- BEGIN CORE PLUGINS -->
     <script src="/js/plugins/jquery.min.js" type="text/javascript"></script>
     <script src="/js/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
     <script src="/js/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
     <script src="/js/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
     <script src="/js/plugins/bootstrap-switch/js/bootstrap-switch.js" type="text/javascript"></script>
     <!-- END CORE PLUGINS -->

	<!-- BEGIN THEME GLOBAL SCRIPTS -->
     <script src="/js/scripts/app.js" type="text/javascript"></script>
     <!-- END THEME GLOBAL SCRIPTS -->

	<!-- BEGIN PAGE LEVEL SCRIPTS -->
<!-- 	<script src="/js/lib/formsValidation/relacaoNucleosValidation.js" type="text/javascript"></script> -->
<!-- 	<script src="/js/lib/formsValidation/reciclagemValidation.js" type="text/javascript"></script> -->
     <script src="/js/plugins/jquery.form.min.js" type="text/javascript"></script>
     <script src="/js/plugins/jquery.serializejson.js" type="text/javascript"></script>
     <script src="/js/plugins/funcoesBasicas.js" type="text/javascript"></script>
     <script src="/js/plugins/maskedInput/jquery.maskedinput.js" type="text/javascript"></script>
     <script src="/js/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
     <script src="/js/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
	 <script src="/js/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js" type="text/javascript"></script>
     <script src="/js/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js" type="text/javascript"></script>
     <!-- END PAGE LEVEL SCRIPTS -->

	<!-- BEGIN PAGE LEVEL PLUGINS -->
     <script src="/js/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
     <script src="/js/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
     <script src="/js/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
     <script src="/js/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>
     <script src="/js/plugins/bootstrap-markdown/lib/markdown.js" type="text/javascript"></script>
     <script src="/js/plugins/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript"></script>
     <script src="/js/scripts/components-select2.js" type="text/javascript"></script>
     <!-- END PAGE LEVEL PLUGINS -->

     <!-- BEGIN THEME LAYOUT SCRIPTS -->
     <script src="/js/scripts/layout.js" type="text/javascript"></script>
     <script src="/js/scripts/quick-sidebar.min.js" type="text/javascript"></script>
     <script src="/js/scripts/demo.js" type="text/javascript"></script>
     <!-- END THEME LAYOUT SCRIPTS -->
     
     <script th:inline="javascript" th:src="@{/js/lib/email.js}"></script>
     <script src="/js/lib/trocaSenha.js" type="text/javascript"></script>
     
</head>
<!--     <span th:inline="text">[[${#httpServletRequest.remoteUser}]]</span> -->
	<body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid">

	 	<!-- Header -->
	 	<div th:replace="fragments/topo :: header">&nbsp;</div>

        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->

		<!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- Menu -->
           	<div th:replace="fragments/menu :: menu">&nbsp;</div>
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                
                    <!-- BEGIN PAGE HEADER-->
                    <h3 class="page-title"> Envio de Email </h3>
                    <!-- END PAGE HEADER-->

					<div class="row">
                        <div class="col-md-12">

							
							<div class="inbox">
		                        <div class="row">
		                            <div class="col-md-3">
		                                <div class="inbox-sidebar">
		                                    <a href="javascript:;" data-title="Escrever" class="btn blue compose-btn btn-block" onClick="escreverEmail()">
		                                        <span id="spanEscrever"><i class="fa fa-edit"></i> Escrever</span> 
		                                    </a>
		                                    <ul class="inbox-nav">
		                                        <li class="active">
		                                            <a href="javascript:;" data-type="inbox" data-title="Entrada" onClick="abreCaixaEntrada();"> Entrada
		                                                <span class="badge badge-success" id="spanTotEmailsEntrada">0</span>
		                                            </a>
		                                        </li>
		                                        <li style="display: none;">
		                                            <a href="javascript:;" data-type="important" data-title="Excluidas" onClick="abreCaixaExcluidas();"> Excluídas </a>
		                                        </li>
		                                        <li>
		                                            <a href="javascript:;" data-type="sent" data-title="Enviadas" onClick="abreCaixaEnviadas();"> Enviadas </a>
		                                        </li>
		                                    </ul>
		                                    
		                                </div>
		                            </div>
		                            <div class="col-md-9">
		                                <div class="inbox-body">
		                                    <div class="inbox-header">
		                                        <h1 class="pull-left"><span id="spanTitulo">Lista de Emails</span></h1>
<!-- 		                                        <form class="form-inline pull-right" action="index.html"> -->
<!-- 		                                            <div class="input-group input-medium"> -->
<!-- 		                                                <input type="text" class="form-control" placeholder="Pesquisar"/> -->
<!-- 		                                                <span class="input-group-btn"> -->
<!-- 		                                                    <button type="submit" class="btn green"> -->
<!-- 		                                                        <i class="fa fa-search"></i> -->
<!-- 		                                                    </button> -->
<!-- 		                                                </span> -->
<!-- 		                                            </div> -->
<!-- 		                                        </form> -->
		                                    </div>
		                                    <div class="inbox-content" id="inboxContent"> 
		                                    
		                                    	<!-- Inicio caixaEntrada -->
		                                    	<div id="divListaCaixaEntradaEmail" class="divOpcoesEmail">
		                                    		<div  th:replace="fragments/listaCaixaEntradaEmail :: listaCaixaEntradaEmail">&nbsp;</div>
		                                    	</div>
		                                    	<!-- Fim caixaEntrada -->
		                                    
		                                    	<!-- Inicio escrever Email -->
		                                    	<div id="divEscreverEmail" style="display: none;" class="divOpcoesEmail">
		                                    		<div  th:replace="fragments/escreverEmail :: escreverEmail">&nbsp;</div>
		                                    	</div>
		                                    	<!-- Fim Escrever Email -->
		                                    	
		                                    	<!-- Inicio Visualizar Email -->
		                                    	<div id="divVisualizarEmail" style="display: none;" class="divOpcoesEmail">
		                                    		<div  th:replace="fragments/visualizarEmail :: visualizarEmail">&nbsp;</div>
		                                    	</div>
		                                    	<!-- Fim Visualizar Email -->
		                                    	
		                                    	<!-- Inicio caixaExcluidas -->
		                                    	<div id="divListaCaixaExcluidas" class="divOpcoesEmail" style="display: none;">
		                                    		<div  th:replace="fragments/listaCaixaExcluidas :: listaCaixaExcluidas">&nbsp;</div>
		                                    	</div>
		                                    	<!-- Fim caixaExcluidas -->
		                                    
		                                    	<!-- Inicio caixaEnviadas -->
		                                    	<div id="divListaCaixaEnviadas" class="divOpcoesEmail" style="display: none;">
		                                    		<div  th:replace="fragments/listaCaixaEnviadas :: listaCaixaEnviadas">&nbsp;</div>
		                                    	</div>
		                                    	<!-- Fim caixaEnviadas -->
		                                    
		                                    </div>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
							<!-- > -->

						</div>
					</div>
					
					<div class="alert alert-danger" id="divError" style="display: none;"> Nenhum Resultado Encontrado. </div>

                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->

        </div>
        <!-- END CONTAINER -->

		<!-- Footer -->
       <div th:replace="fragments/rodape :: footer">&nbsp;</div>

	</body>
</html>
