<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

	<title>Pasconeiros</title>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta content="width=device-width, initial-scale=1" name="viewport" />

	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet" type="text/css" />
    <link href="/js/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/js/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/js/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />

	<link href="/css/index.css" rel="stylesheet" type="text/css" />


	<!-- BEGIN THEME GLOBAL STYLES -->
    <link href="/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->

	<!-- BEGIN THEME LAYOUT STYLES -->
    <link href="/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/themes/grey.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="/css/custom.css" rel="stylesheet" type="text/css" />
	<link href="/js/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
	<link href="/js/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
	<link href="/js/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />
	<link href="/js/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="/js/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="/css/profile.css" rel="stylesheet" type="text/css" />

	<link href="/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <script src="/js/plugins/jquery.min.js" type="text/javascript"></script>
	<script src="/js/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/js/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
	<script src="/js/plugins/bootstrap-switch/js/bootstrap-switch.js" type="text/javascript"></script>
	<script src="/js/plugins/bootstrap-markdown/lib/markdown.js" type="text/javascript"></script>
    <script src="/js/plugins/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript"></script>

	<script src="/js/scripts/app.js" type="text/javascript"></script>
	<script src="/js/scripts/layout.js" type="text/javascript"></script>

</head>
<body class="page-header-fixed page-container index-body ">

	<div class="page-header navbar navbar-fixed-top index-body--head">
		<a class="top-menu index-body-login" href="login">
			 <img alt="" class="img-circle index-body-login-img" th:src="@{/img/profile.jpg}" />
             <span class="username index-body--user">Login</span>
		</a>
    </div>

	<div class="page-container">
		<div class="page-content-wrapper ">
			<div class="page-content index-body-content">
				<div class="index-body-wrapper-title">
					<h1 class="page-title index-body-title">MESCE</h1>
					<h3 class="page-title index-body-subtitle">Ministro Extraordinário Sagrada Comunhão Eucarística</h3>
				</div>
				<div class="index-body-wrapper-img">
					<img alt="" class="index-body-img" th:src="@{/img/diocese.png}" />
				</div>
			</div>
		</div>
	</div>
</body>
</html>